.block-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 40px;
}

.languages__text,
.education__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 30px;
  text-align: center;
  min-height: 150px;
  max-width: 100%;
  line-height: 1.5;
  margin: auto 0;
  font-size: 18px;
  color: rgb(64, 59, 67);
  border: 1px solid violet;
  border-radius: 6px;
  position: relative;
  margin-top: 60px;
}

.education__text:before,
.languages__text:before {
  content: '';
  position: absolute;
  top: -25px;
  left: 45%;
  background-color: #c481c3;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 3px;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
.education__text:before {
  background-image: url(../assets/icons/university-building.png);
}
.languages__text:before {
  background-image: url(../assets/icons/voice.png);
}

.education__title,
.languages__title {
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
}
.languages__text:hover,
.education__text:hover {
  background: #decbe862;
}

.education__text:hover:before,
.languages__text:hover:before {
  background-color: rgb(99, 10, 111);
}
.languages__link:hover {
  color: rgb(233, 61, 215);
}
