@import url('header.css');
@import url('profile.css');
@import url('about.css');
@import url('skills.css');
@import url('projects.css');
@import url('courses.css');
@import url('education.css');
@import url('code.css');

@font-face {
  font-family: 'PT Serif', serif;
  src: url('../assets/fonts/PTSerif-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'PT Serif', serif;
  src: url('../assets/fonts/PTSerif-Bold.ttf');
  font-weight: 700;
}
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'PT Serif', serif;
}

ul,
ol {
  list-style: none;
}
a {
  background-color: transparent;
  color: inherit;
}

a:active,
a:hover {
  outline: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

input {
  line-height: normal;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 10px;
  border-right: 1px solid rgba(94, 21, 89, 0.1);
  border-left: 1px solid rgba(94, 21, 89, 0.1);
}
/* .container:nth-child(0),
.container:last-child {
  border: none;
} */

.title {
  border-radius: 6px;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #ffffff;
  width: fit-content;
  background-color: #9d409c6c;
  padding: 10px;
  margin: 30px auto;
}

.footer {
  background-color: rgba(234, 225, 243, 0.882);
  padding: 15px 0;
}
.button-hover:hover {
  cursor: pointer;
  border-radius: 6px;
  color: rgb(8, 2, 2);
  background-image: linear-gradient(120deg, #a6c0fe4f 20%, #f680843e 80%);
}
.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font-size: 16px;
}
.header__container,
.footer__container {
  border: none;
}
.rss {
  position: relative;
}
.rss:before {
  position: absolute;
  content: '';
  top: -20px;
  right: 20px;
  background-image: url(../assets/icons/rs_school_js.svg);
  background-repeat: no-repeat;
  width: 130px;
  height: 40px;
  filter: drop-shadow(0px 0px 10px rgb(82, 14, 138)) opacity(0.7);
}
.github {
  padding: 6px;
  cursor: pointer;

  position: relative;
}
.github:hover {
  border-radius: 6px;
  text-shadow: 0 0 10px rgb(104, 6, 137);
}
.github:before {
  position: absolute;
  content: '';
  top: -10px;
  right: 100px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-image: url(../assets/icons/Skills/github.png);
}
.github:hover:before {
  transform: scale(1.2);
}
@media (max-width: 1170px) {
  .profile__container {
    border: none;
  }
}
@media (max-width: 768px) {
  .github:before {
    background-size: 30px 30px;
    top: 0;
    right: 90px;
  }
  .rss:before {
    right: -35px;
    top: -15px;
    width: 80px;
    height: 25px;
  }
}
